body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

form {
    text-align: center;
    padding-top: 10px;
    width: 500px;
    margin: 0 auto;
}

input[type="file"] {
    padding: 10px;
    background-color: beige;
    border-radius: 5px;
}

button {
    background-color: #FF0000;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

button:not(:hover) {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

#response {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.2);
    min-height: 100px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    text-align: center; /* Centrar contenido en el div */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    /* Agrega estos estilos para centrar verticalmente la tabla */
    display: flex;
    flex-direction: column;
    align-items: center;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    background-color: white; /* Hacer que todas las celdas sean blancas */
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Estilos para la barra de carga */
.loading {
    display: none; /* Por defecto, oculta la barra de carga */
    width: 100%;
    height: 4px;
    position: relative;
    background-color: #f0f0f0;
    margin-top: 10px;
    border-radius: 2px;
}

.loading::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #3498db; /* Color de la barra de carga */
    border-radius: 2px;
    animation: loadingAnimation 10s infinite; /* Animación de carga */
}

@keyframes loadingAnimation {
    0% {
        width: 0;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}
